In [ ]:
import pandas as pd
import numpy as np
from pickle import load
from tensorflow import keras
import matplotlib.pyplot as plt

In [ ]:
restored_model=keras.models.load_model('microsoft_model.h5')
scaler = load(open('scaler_microdpft.pkl', 'rb'))

In [ ]:
data=pd.read_json("Microsoft-stocks.json")
data=data[5:]
data=data['Time Series (Daily)']
data=pd.DataFrame(data)
data1=[[i['1. open'], i['4. close'], i['2. high']] for i in data['Time Series (Daily)']]
data1=pd.DataFrame(data1, columns=['Open', 'Close', 'High'], index=data.index)
data1=data1[:int(0.7*len(data1))]
data1

                Open     Close      High
2021-10-29  324.1300  331.6200  332.0000
2021-10-28  324.3250  324.3500  324.8700
2021-10-27  316.0000  323.1700  326.0973
2021-10-26  311.0000  310.1100  312.3950
2021-10-25  309.3600  308.1300  309.4000
...              ...       ...       ...
2006-06-16   21.9700   22.1000   22.2800
2006-06-15   22.0100   22.0700   22.1301
2006-06-14   21.5900   21.8800   21.9400
2006-06-13   21.7300   21.5100   22.0300
2006-06-12   21.9500   21.7100   22.1000

[3875 rows x 3 columns]

In [ ]:
df=data1['High']
df=df[:60]
df=df[::-1]
df=df.reset_index()['High']
df=np.array(df).reshape(-1, 1)
df=scaler.fit_transform(df)
df

array([[0.06035817],
       [0.10568207],
       [0.05483086],
       [0.04178642],
       [0.0707495 ],
       [0.13552952],
       [0.17797922],
       [0.1472474 ],
       [0.17797922],
       [0.23656865],
       [0.42162282],
       [0.41189476],
       [0.41742207],
       [0.39398629],
       [0.34620827],
       [0.31174   ],
       [0.38580588],
       [0.39199646],
       [0.40725182],
       [0.36679637],
       [0.34998895],
       [0.31660402],
       [0.3059916 ],
       [0.3398187 ],
       [0.29073624],
       [0.26022551],
       [0.32323679],
       [0.41012602],
       [0.40990493],
       [0.39199646],
       [0.26420517],
       [0.23811629],
       [0.297369  ],
       [0.31240327],
       [0.28808313],
       [0.21445943],
       [0.08865797],
       [0.        ],
       [0.02343577],
       [0.07097059],
       [0.02166704],
       [0.08021225],
       [0.15166925],
       [0.218218  ],
       [0.2182379 ],
       [0.24762326],
       [0.19168693],
       [0.2323679 ],
       [0.36480212],
       [0.390891  ],
       [0.47402167],
       [0.49812072],
       [0.5069644 ],
       [0.53614857],
       [0.53769622],
       [0.50033164],
       [0.56654875],
       [0.86949591],
       [0.84236126],
       [1.        ]])

In [ ]:
dataset=[]
a=df[0:60, 0]
dataset.append(a)
dataset=np.array(dataset)
dataset=dataset.reshape(dataset.shape[0], dataset.shape[1], 1)
ans=restored_model.predict(dataset)
ans=scaler.inverse_transform(ans)
print(ans)

[[329.87402]]